@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

:root {
    --material-icons-color: black;
    --field-color: gray;
    --field-background: white;
    --field-background-hover: #eee;
    --input-background: #eee;
    --overlay-background: rgba(79, 111, 186, 0.8);
    --overlay-caption-color: #171a6e;
    --overlay-content-background: #3065933b;

    --header-background: #21439500;
    --main-panel-background: #42446896;
    --online-users-panel-background: linear-gradient(to right, #fde0c5, #facba6);
    --chat-panel-background: none;

    --title-color: white;
    --caption-color: white;

    --font-color: black;
    --date-color: gray;

    --register-form-background: #2143957d;
    --warning-color: red;

    --button-color: white;
    --button-background: #293477;
    --button-background-hover: #4867eec2;
}

* {
    font-family: "Abel", sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-image: url('background.jpg'); /* Replace 'background.jpg' with the path to your image file */
    background-size: cover;
    background-position: center;
}

.center {
    text-align: center;
}

.shadow {
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
}

/* Google icon */
.material-icons {
    color: var(--material-icons-color);
}

/* Flexbox related */
.row, .col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.col {
    flex-direction: column;
}

.spacer-0 {
    width: 0;
    height: 0;
}

.spacer-1 {
    width: 5px;
    height: 5px;
}

.spacer-2 {
    width: 10px;
    height: 10px;
}
.spacer-3 {
    height: 200px;
}

.spacer-grow {
    flex-grow: 1;
}

/* Overlay */
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-background);
}

.overlay .caption {
    font-size: 95%;
    color: var(--overlay-caption-color);
}

.overlay .content {
    background: var(--overlay-content-background);
}

.warning {
    font-weight: bold;
    color: var(--warning-color);
}

/* Form related */
form input, form select {
    width: 100%;
}

input, select {
    font-size: 1rem;
    background: var(--input-background);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}

input::placeholder, select {
    color: gray;
}

button {
    font-weight: bold;
    height: 40px;
    border: 1px solid black;
    color: var(--button-color);
    background: var(--button-background);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    padding: 0 20px;
    transition: 1s background;
    cursor: pointer;
}

button:hover {
    background: var(--button-background-hover);
}

button:active {
    margin: 2px -2px -2px 2px;
    box-shadow: 0px 0px;
}

button.icon {
    height: inherit;
    border: none;
    border-radius: 2px;
    background: none;
    box-shadow: none;
    padding: 3px 5px;
    padding-top: 5px;
}

button.icon * {
    color: white;
}

button.icon:hover {
    background: var(--button-background-hover);
}

button.icon:active {
    margin: 2px -2px -2px 2px;
}

/* Data field caption and content */
.field-content {
    border-radius: 50px;
    padding: 10px 15px;
    background: var(--field-background);
    transition: 1s background;
}

.field-content * {
    color: var(--field-color);
}

.field-content:hover {
    background: var(--field-background-hover);
}

.user-name {
    white-space: nowrap;
}

/* Top level container */
#container {
    align-items: stretch;
    gap: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* Header */
#header {
    height: 80px;
    background: var(--header-background);
    padding: 0 20px;
}

#title {
    font-family: Abel, sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    color: var(--title-color);
    user-select: none;
}

#title .material-icons {
    color: var(--title-color);
    font-size: 36px;
}

#user-panel {
    padding: 0;
}

#signin-user {
    cursor: pointer;
}

/* Main panel */
#main-panel {
    width: 800px;
    height: calc(100% - 200px);
    background: var(--main-panel-background);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Signin overlay */
#signin-form {
    width: 270px;
    align-self: stretch;
}

#register-form {
    width: 380px;
    background: var(--register-form-background);
    padding: 20px;
}

/* Edit user overlay */
#edit-user-form {
    width: 270px;
    align-self: stretch;
}


.square {
    width: 90%; /* Adjust the size of the square */
    height: auto;
    background-color: var(--main-panel-background); /* Adjust the color as needed */
    border-radius: 10px;
    text-align: center;
    padding: 20px;

}

.square-2 {
    width: 60%; /* Adjust the size of the square */
    height: 400px;
    background-color: var(--main-panel-background); /* Adjust the color as needed */
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.square-3 {
    width: 1000px; /* Adjust the size of the square */
    height: 500px;
    background-color: var(--main-panel-background); /* Adjust the color as needed */
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

button #next-button {
    background-color: #eeeeee; /* Adjust the color as needed */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#start-button {
    background-color: #eeeeee; /* Adjust the color as needed */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    height: 75px;
    width: 150px;
    margin: 0 auto;
}

#restart-button {
    font-weight: bold;
    height: 40px;
    border: 1px solid black;
    color: var(--button-color);
    background: var(--button-background);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    padding: 0 20px;
    transition: 1s background;
    cursor: pointer;
}

#restart-button:hover {
    background: var(--button-background-hover);
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    margin-top: 30px;
    text-align: left;
    color: white;
}

p {
    margin-bottom: 10px;
    color: white;
    text-align: left;
}

li {
    color: white;
    text-align: left;
}

.roles {
    margin-top: 30px;
    color: white;
}

.win-conditions {
    margin-top: 30px;
    color: white;
}

.gameoverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(23 28 40 / 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#winningTeam {
    text-align: center;
    font-size: 20vh;
    color: white;
    animation-name: gameover-animation;
    animation-duration: 2s;
}

#gameover {
    text-align: center;
    font-size: 10vh;
}

#stat-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes gameover-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#stat {
    display: none;
}

#win {
    font-size: 62px;
    color: white;
    padding: 10px;
}

#gameMap {
    background: #111;
    display: none;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

canvas {
    border-radius: 12px;

}